:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  background-image: url('/Assets/grocery-min.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color-scheme: light dark;
  color: #242424;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.Header {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.Header>img {
  height: 3rem;

}




.App {
  width: 85%;
  height: 25%;
  padding: 10px;


  border: 3px solid white;
  border-radius: 15px;
  backdrop-filter: blur(55px);
  margin: 0 auto;

}

button {
  margin: 0 5px 0 5px;
}


.Items {
  width: 85%;
  height: 20rem;
  backdrop-filter: blur(55px);
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 10px;

  border: 3px solid white;
  border-radius: 15px;

  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 10px;

}

.Item {
  width: 65%;



  border: 3px solid white;
  border-radius: 15px;

  margin-top: 10px;

}

a {
  font-weight: 100;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.4em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }


  button {
    background-color: #f9f9f9;
  }
}

/* App.css */
.button-container {
  display: flex;
  align-items: center;
}

/* Animation for edit button */
.edit-button {
  margin-right: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  /* Add animation */
  animation: fadeIn 0.3s ease;
}

#num {
  width: 15%;
}

/* Animation for delete button */
.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  /* Add animation */
  animation: fadeIn 0.3s ease;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

input[type="text"],
input[type="number"],
input[type="email"],
.Custom {
  padding: 5px;
  /* Add margin for spacing between input elements */
  border: 2.5px solid white;
  /* Add border for input elements */
  border-radius: 15px;
  /* Add border-radius for rounded corners */
  font-size: 16px;
  /* Set the font size */
}

/* Style the placeholder text inside input elements */
input::placeholder {
  color: #999;
  /* Set the placeholder text color */
}

/* Add styles for input elements on focus */
input:focus,
.Custom {
  outline: none;
  /* Remove the default outline on focus */
  border-color: #4caf50;
  /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  /* Add box shadow on focus */
}

@media only screen and (max-width: 768px) {

  .App,
  .Items {
    width: 80%;
    /* Adjust width for smaller screens */
    padding: 2px;
    /* Adjust padding for smaller screens */
  }

  button {
    background-color: black;
    color: white;
    margin-left: 5px;
  }

  input[type="text"] {

    background-color: #000;
    /* Text color */
    color: #f0f0f0;
    /* Background color */
  }

  .App {
    height: 36vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Item {
    width: 90%;

  }

  h1 {
    font-size: 2em;
    /* Decrease font size for smaller screens */
  }

  .button-container {
    flex-direction: column;
    /* Stack buttons vertically on smaller screens */
    margin-top: 10px;
  }

  input[type="number"] {
    width: 10%;
    height: 5%;
  }

  .Sm {
    width: 20%;

    /* Adjust input width for smaller screens */
  }

  label {
    margin-top: 10px;
  }

  button:nth-of-type(1) {
    margin-top: 10px;
  }

  .Header>img {
    height: 2rem;

  }


}
